.cart {
    background: #cbcbcb60;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 16px 0px rgba(0, 0, 0, .2);
    display: none;
    padding: 32px;
    padding-top: 40px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 240px;
    overflow-y: scroll;
}

.cart img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
}

.cart li {
    padding: 0.5rem;
    background-color: #dee0e070;
    border-radius: 20px;
    margin-top: 10px;
}

.cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.cart footer button {
    padding: 8px;
}

.cart-button {
    align-items: center;
    background: #c93838;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: fixed;
    right: 24px;
    top: 8px;
    transition: all .3s ease;
    width: 90px;
    z-index: 10;
}

.cart-button:hover {
    scale: 1.1;
}

.cart-button~input:checked~.cart {
    height: 100%;
    display: block;
}

.clear {
    background-color: #b3b3b3;
    margin: 10px;
    margin-bottom: 36px;
}