.footer {
    text-align: left;
    background: #c9c9c9;
    padding: 8px 24px;
    font-family: 'Mate SC';
    border-top: 1px solid;
    border-color: #b8b8b8;
}

.footer span {
    font-size: 14px;
    color: #09f;
    opacity: .8;
}

.footer h4, .footer h5 {
    margin: 0;
    display: flex;
}