.products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products ul {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    gap: 1rem;
}

.products li {
    display: flex;
    flex-direction: column;
    background: #dee0e0;
    color: #1f1f1f;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 4px 10px 10px -2px rgba(0, 0, 0, .1);
    border-radius: 20px;
    max-width: 200px;
}

.products h3 {
    margin: 4px 0px;
}

.products span {
    font-size: 1rem;
    opacity: .9;
}

.products img {
    border-radius: 20px;
    width: 200px;
    height: 300px;
    display: block;
    object-fit: cover;
    background: #dee0e0;
}

.price {
    font-size: 24px;
}

.basePrice {
    color: #b3b3b3;
    text-decoration: line-through;
    margin-left: 6px;
    margin-right: 6px;
}

.discount {
    background-color: #c93838;
    color: #e7e7e7;
    font-size: 16px;
    padding: 2px;
    font-style: italic;
}

.cartButton {
    background: #c0c0c0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0.6rem;
}

.cartButton strong {
    font-size: 16px;
    text-transform: uppercase;
    width: 154px;
}
